__pycache__/

xauto/bootstrap/venv/
xauto/bootstrap/.bootstrap_done
xauto/bootstrap/bootstrap.log
xauto/bootstrap/get-pip.py

xauto/debug_logs/
xauto/internal/geckodriver/geckodriver
xauto/internal/cache_manager

xauto/website_login_module
old_code/
creds/

run.py