system:
  driver_limit: auto
  headless: false

proxy:
  enabled: false
  no_ssl_verify: false
  socks5_mode: false
  resolve_dns_locally: false
  credentials:
    enabled: false
    username: ""
    password: ""
  list: 
    # - 123.456.7.89:8080

resources:
  driver_autoscaling:
    scaling_check_interval: 0.5
    step_up: 2
    step_down: 2
    scale_down_cooldown: 15.0
    spawn_buffer: 3.0
  
  driver_spawning:
    # these settings will control the start up speed of the pool
    # up max_spawns_per_window for a more aggressive start up
    spawn_window_sec: 20
    max_spawns_per_window: 5

  memory_tuning:
    buffer:
      up_margin: 4
      down_margin: 2
      adjust_rate: 2
      
    pressure:
      history: 8
      system_check_interval: 1.0
      mem_threshold: 70.0
      cpu_threshold: 80.0
      safe_margin: 5.0
      
    pressure_blocking:
      # during high load max time a driver will wait before going ahead with its work. 
      max_wait_time: 30.0
      # workers wait in N second chunks before checking again
      wait_chunk_time: 3.0

colors:
  normal: "white"
  error: "light_grey"
  keyword: "magenta"
  loading: "magenta"
  success: "green"
  failure: "red"
  warning: "yellow"
  hint: "light_grey"

ui:
  verbose_output: false
  bold_output: true

misc:
  debug_mode: false
  geckodriver_version: "0.35.0"
  python_version: "3.10"

  logging:
    log_timer_interval: 5
    # turn on/off [enter] status console
    # status console is set up inside setup_runtime()
    status_console: true

  thread_monitoring:
    worker_monitor_loop_interval: 1
  
  timeouts:
    # shutdown timeouts 
    program_shutdown_timeout: 10
    stop_all_workers_timeout: 10
    stop_worker_timeout: 5

    # function retries
    send_key_retry_base: 1.0
    send_key_retry_jitter: 0.2
    max_send_key_retries: 2
    max_worker_task_retries: 2

    # loading timeouts
    max_body_load_wait: 10
    max_url_load_wait: 5

    # driver timeouts
    driver_recreate_delay: 5
    driver_slot_wait_delay: 3